<!DOCTYPE html>
<html>
<head>
    <title>Edit Disaster</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Edit Disaster</h2>

<form action="/update_disaster/{{ disaster[0] }}" method="POST">

    <label>Disaster Type:</label><br>
    <input type="text" name="type" value="{{ disaster[1] }}" required><br><br>

    <label>Location:</label><br>
    <input type="text" name="location" value="{{ disaster[2] }}" required><br><br>

    <label>Severity:</label><br>
    <input type="text" name="severity" value="{{ disaster[3] }}" required><br><br>

    <label>Description:</label><br>
    <input type="text" name="description" value="{{ disaster[4] }}" required><br><br>

    <button type="submit">Update Disaster</button>

</form>

<br>

<a href="/disaster">
    <button type="button">Back</button>
</a>

</body>
</html>