<!DOCTYPE html>
<html>
<head>
    <title>Disaster Response Drone System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>Disaster Response Drone System</h1>

<p>
Welcome to Disaster Response Drone Management System.
</p>

<a href="/disaster">
    <button>Manage Disasters</button>
</a>

<a href="/dashboard">
    <button>Dashboard</button>
</a>

<a href="/drone">
    <button>Drone Management</button>
</a>

<a href="/rescue">
    <button>Rescue Team</button>
</a>

<a href="/assignment">
    <button>Drone Assignment</button>
</a>

<a href="/dashboard">
    <button>Dashboard</button>
</a>
</body>
</html>
